.aboutus-glass {
    width: 90%;
    border-radius: 8px;
    height: 85vh;
    content: "";

    backdrop-filter: blur(10px);

    background: rgba(255, 255, 255, 0.1);

    margin-top: 5%;
    margin-left: 5%;
    z-index: -1;
    overflow: hidden;
}

.aboutus-glass h1 {
    color: aliceblue;
    padding: 15px;
}

.aboutus-glass p {
    color: rgba(255, 255, 255, 0.5);
    padding: 15px;
}